body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
}
/*mise en forme du header*/
header {
    height: 900px;
    background-image: url(../assets/Illustrations/Bathome1.png);
}
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}
/*taille du logo et emplacement des liste sur la barre de navigation*/
.logo img {
    height: 50px; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
/*mise en forme du texte d'introduction*/
.intro {
    margin-top: 160px;
    padding: 0 20px;
    text-align: center;
}