@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');

:root{
    --yellow-color: #FFFF00;
    --yellow-light: #f8f184;
    --blue-color: #19587d;
    --dark-red: #B11313;
    --charcoal-black: #0D0E09;
    --white: #fff;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'space grotesk', sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-weight: lighter;
    color: white;
    background-color: black;
    overflow-x: hidden;
}

h1 {
    font-family: 'rajdhani';
    font-size: 36px;
    font-weight: bold ;
    margin-bottom: 20px;
}
/*mise en forme du header*/
.container{
    width: 80%;
    margin: 0 auto;
}
#hero{
    background-image: url(../Illustrations/Bathome1.png);
    height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    position: sticky;
    top: 0;
}



.logo img {
    height: auto;
}
.logo img:hover {
   
    filter: sepia(100%) saturate(1500%) hue-rotate(3deg) brightness(110%);
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: var(--white);
    font-family: 'rajdhani';
    text-decoration: none;
}
nav ul a:active,
nav ul a:hover,
nav ul a:visited,
nav ul a:focus {
    font-weight: bold;
    color: var(--yellow-color);
    text-decoration: underline;
}

/*mise en forme du texte d'introduction*/

.intro {
    text-align: center;
    margin: 0 auto;
    margin-top: 300px;
}


/*mise en forme des boutons header*/
.bouton-header {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}
.hero {    
    margin-right: 5px;
}
.mechant {
    margin-left: 50px;
}
.hero, .mechant { 
    font-family: 'Rajdhani';
    font-style: medium;
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 22px 49px;
    margin-left: 50px;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(237, 222, 191, 0.4) 0%, rgba(137, 0, 8, 0.4) 100%);
    transition: transform 0.3s linear;
    border: none;
    cursor: pointer;
}

.hero:hover, .mechant:hover {
    background-image: linear-gradient(to right, rgba(237, 222, 191, 1) 0%, rgba(137, 0, 8, 1) 100%);
}

.logo-fleche {
    text-align: center;
    margin-top: 190px;

}

/*mise en formre du contenu principale*/
.container {
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    font-style: medium;
}
.social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 10PX;
    top: 220px;
    right: 50px;
    gap: 15px;
    z-index: 10;
}
.social-media img:hover {
   
    filter: sepia(100%) saturate(1500%) hue-rotate(3deg) brightness(110%);
}
.carte{
    padding: 30px 30px 30px 0;
}
.carte img{
    margin-bottom: 30px;
}

.carte img{
    transition: transform 0.3 ease;
}

.carte img:hover{
    transform: scale(1.1);
}

.description{
    margin-bottom: 40px;
}
.pers-info{
    text-align: center;
}
/*mise en forme de la section batman au cinema*/
.first-section .image-hero {
    display: flex;
    flex-direction: row;
    gap: 35px;
}


/*mise en forme de la section NEMESIS*/
.second-section .image-mechant {
    display: flex;
    flex-direction: row;
    gap: 35px;
}
.bat-logo img {
    height: 129px;
    margin-left: 80px;
}
.bat-container {
    margin-top: -63px;
}


/*mise en forme de la section ALLIES*/
.third-section .image-allie {
    display: flex;
    flex-direction: row;
    gap: 35px;
}
.third-section .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .bat img {
    position: absolute;
    right: 15px;
    top: 900px;
    height: 200px;
    flex: 1;
}


/*mise en forme des images cinquième section*/
.content-container {
    display: flex;
    align-items: center;
}

.flèche-lr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}
.last-container {
    display: flex;
    width: 50%;
    margin: 40px auto;
}
.image-bat img {
    flex: 1;
    height: 100%;
}
.last-para {
    font-size: 12px;
    border: 2px solid #000;
    padding: 15PX;
    background-image: linear-gradient(to bottom right,rgb(113, 112, 101) 12%, rgb(46 63 69) 60%);
    transition: transform 0.3s linear;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.BA video{
    margin: 200px 0 ;
}

video{
    margin: 0 auto;
    transition: box-shadow 0.3 ease;
}

video:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

#multimedia button{
    position: relative;
    top: 155px;
    background: none;
    border: none;
}
#multimedia .yellow{
    color: var(--yellow-color);
}


/*mise en forme de prise de contact*/
#contact {
    background-image: linear-gradient(to bottom right,rgb(113, 112, 101) 12%, rgb(46 63 69) 60%);
    padding: 70px 0;
}
#contact .form {
    width: 50%;
    margin: 0 auto;
}

#contact h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}

#contact .titre {
    display: block;
    margin: 28px 0;
}
input[type="email"], #selectBox, textarea  {
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    width: 95%;
    padding: 8px;
    margin-top: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid #ccc;
    color: rgb(197, 197, 197);
    font-size: 14px;
}

.checkbox{
    color:rgb(197, 197, 197);
    font-size: 15px;
}

input[type="checkbox"] {
    width: 20px;
    height: 15px;
}

#selectBox .valeur {
    color: black;
}

::-webkit-input-placeholder {
    color:rgb(197, 197, 197);
}

::-moz-placeholder {
    color:rgb(197, 197, 197);
}

::-ms-input-placeholder {
    color:rgb(197, 197, 197);
}

::placeholder{
    color:rgb(197, 197, 197);
}

#contact .news {
    margin-top: 15px;
    border-bottom: 1px solid #ccc;
    width: 95%;
}

.buttonGroup {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 10px;
    gap: 20px;
}
.form input[type="radio"] {
    opacity: 0;
}
.buttonGroup label {
    text-align: center;
    width: 80px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid;
    border-image: linear-gradient(to right, rgba(237, 222, 191, 0.5) 0%, rgba(0, 56, 177, 0.5) 100%) 1;
    background-image: linear-gradient(to right, rgba(237, 222, 191, 0.4) 0%, rgba(0, 56, 177, 0.4) 100%) ;
}

.buttonGroup label:hover,
.buttonGroup input:checked + label {
    background-image: linear-gradient(to right, rgba(237, 222, 191, 1) 0%, rgba(0, 56, 177, 1) 100%) ;
    border-image: none;
    border: none;
}/* l'effet effet hover est ajouté et il reste actif lorsque les boutton sont cochés */


textarea {
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    display: block;
    margin-top: 20px;
    background-image: linear-gradient(to right, rgba(237, 222, 191, 1) 0%, rgba(137, 0, 8, 1) 100%);
    color: white;
    border: none;
    width: 240px;
    margin: 0 auto;
    padding: 20px ;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(237, 222, 191, 0.4) 0%, rgba(137, 0, 8, 0.4) 100%);
    transition: transform 0.3s linear;
    border: none;
}

input[type='submit']:hover {
    background-image: linear-gradient(to right, rgba(237, 222, 191, 1) 0%, rgba(137, 0, 8, 1) 100%);
}

/*mise en forme section citation */

#replique {
    margin: 90px;
}

#replique .texte {
    text-align: center;
}

#replique .auteur{
    padding-top: 25px;
    font-size: 16px;
    font-family: 'rajdhani';
}

.guillemet2 {
    float: right;
}

/*mise en forme du footer */
.text-logo{
    font-size: 15px;
    padding: 150px 0 30px;
}
footer .logo-social {
    text-align: center;
}
footer .social-item {
    padding: 15px;
}
.social-item img:hover {
   
    filter: sepia(100%) saturate(1500%) hue-rotate(3deg) brightness(110%);
}

.foot {
    width: 80%;
    margin: 0 auto;
}